Host *
    User your-username
    Port 22

Host web-server-1
    HostName web-server-1.example.com
    IdentityFile ~/.ssh/id_rsa

Host web-server-2
    HostName web-server-2.example.com
    IdentityFile ~/.ssh/id_rsa

Host database-server-1
    HostName database-server-1.example.com
    IdentityFile ~/.ssh/id_rsa

Host database-server-2
    HostName database-server-2.example.com
    IdentityFile ~/.ssh/id_rsa

Host mail-server-1
    HostName mail-server-1.example.com
    IdentityFile ~/.ssh/id_rsa

Host mail-server-2
    HostName mail-server-2.example.com
    IdentityFile ~/.ssh/id_rsa

Host proxy-server-1
    HostName proxy-server-1.example.com
    IdentityFile ~/.ssh/id_rsa

Host proxy-server-2
    HostName proxy-server-2.example.com
    IdentityFile ~/.ssh/id_rsa

Host backup-server-1
    HostName backup-server-1.example.com
    IdentityFile ~/.ssh/id_rsa

Host backup-server-2
    HostName backup-server-2.example.com
    IdentityFile ~/.ssh/id_rsa
